[defaults]
inventory           = inventory.generated.yml
remote_user         = isaac
private_key_file    = ~/.ssh/id_rsa
host_key_checking   = false
interpreter_python  = auto_silent
stdout_callback     = yaml
callbacks_enabled   = timer

[ssh_connection]
pipelining          = true
ssh_args            = -o ControlMaster=auto -o ControlPersist=60s
